body {
  font-family: 'Anonymous Pro', monospace;
}

.burger {
  background: #ddd;
}

#mob {
  width: 64%;
}

#form {
  background: lavender;
}

#about {
  background: #ddd;
  padding: 1.75em;
}

#about-logo {
  background: #000;
  padding: 0.75em;
  border-radius: 4px;
}

#card {
  margin: 0.75em;
}

@media (min-width: 769px) {
  .is-96x96 {
    margin: auto;
    margin-bottom: 0.75em;
  }

  #about {
    padding-left: 1.25em;
  }

  #about-text {
    margin-top: 10rem;
  }

  #card {
    margin-right: 0;
  }
}
